.profile__image {
    width: 120px;
    height: 120px;
    align-self: stretch;
    object-fit: contain;
    border-radius: 50%;
    align-self: center;
}
/*
@media screen and (max-width: 1024px) {
    .profile__image {
    }
}

@media screen and (max-width: 768px) {
    .profile__image {
    }
}

@media screen and (max-width: 320px) {
    .profile__image {
    }
}