.profile__image {
    object-fit: cover;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

/*.profile__image:hover .profile__image_edit {
    opacity: 1;
}
.profile__image:hover .profile__image {
    opacity: .5;
}*/